*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  width:100%;
  height:100%;
  overflow:hidden;
  font-family:Courier New, monospace;
  background:
    radial-gradient(circle at center, #3a0000 0%, #0b0000 45%, #000 100%);
  color:#8b0000;
}

/* noise hacker */
body::before{
  content:"";
  position:fixed;
  inset:0;
  background:url("https://i.imgur.com/8pQZ4ZQ.png");
  opacity:0.08;
  pointer-events:none;
}

/* center */
#screen{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

/* WALCOM */
#title{
  font-size:64px;
  letter-spacing:6px;
  color:#8b0000;
  text-shadow:0 0 25px #ff0000;
}

/* START */
#start{
  margin-top:20px;
  font-size:28px;
  color:#8b0000;
  cursor:pointer;
  text-shadow:0 0 15px red;
}

.hidden{
  display:none;
}

/* shake layar */
.shake{
  animation:shake .12s infinite;
}
@keyframes shake{
  0%{transform:translate(2px,2px)}
  25%{transform:translate(-2px,2px)}
  50%{transform:translate(2px,-2px)}
  75%{transform:translate(-2px,-2px)}
}

/* bomb */
#bomb{
  position:fixed;
  top:-120px;
  left:50%;
  transform:translateX(-50%);
  font-size:90px;
  animation:drop 1s linear forwards;
}
@keyframes drop{
  to{top:45%}
}

/* explosion */
#boom{
  position:fixed;
  inset:0;
  background:radial-gradient(circle,#ff0000,#000);
  animation:flash .25s alternate 6;
}
@keyframes flash{
  from{opacity:0}
  to{opacity:1}
}

/* hacker text */
#hack{
  position:fixed;
  inset:0;
  padding:20px;
  font-size:16px;
  line-height:1.4;
  color:#8b0000;
  text-shadow:0 0 6px red;
  white-space:pre-wrap;
  overflow:hidden;
}